@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');

/* Variables */
:root {
  --primary-color: #0098ba;
  --secondary-color: #00738d; 
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  background: url('../img/background.jpg') center / cover no-repeat;
  background-size: cover;
  background-position: top;
  color: #2b2828;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 0.5rem;
  height: 100vh;
  justify-content: center;
}

button {
  background-color: var(--primary-color); 
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, .2);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  width: 14rem;
}

button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

button.round {
  border-radius: 50%;
  box-shadow: none;
  width: auto;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
  margin-top: 10vh;
  text-align: center;
}

input {
  border: 1px solid #999;
  border-radius: 0.25rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  width: 70%;
}

main {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, .2);
  padding-bottom: 2rem;
  width: 30rem;
}

nav {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem;
}

.container-row {
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.container-row:nth-of-type(2n + 1) {
  background-color: #eee;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.error {
  color: #f00;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%
}

.link:hover {
  background-color: #ddd;
  cursor: pointer; 
}

.spinner {
  padding-bottom: 1rem;
}